<div>
<button><%= link_to "add new", new_article_path %></button>
  <ul>
    <%@articles.each do |article|%>
      <li><%= link_to article.title, article_path(article) %></li>
    <%end%>
  </ul>
</div>
